{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Park Alerts</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
    {% block content %}
    <div style="position: relative; width: 100%;">
        <div style="position: absolute; width: 50%; height: 100vh; left: 0px; background-size: cover; background-repeat: no-repeat; background-image: url(https://www.nps.gov/common/uploads/cropped_image/45C71608-D013-688F-7914D26F6225F7C2.jpg);">
            <form action="/park-alerts" method="post" class="card p-3 bg-light" style="width: 60%; margin: 0 auto; margin-top: 5%;">  
                <h3 class="search-title" style="text-align:center;">Search for park alerts by a specific park</h3>
                <div class="input-group">
                    <select id="e3" class="form-control" name="park">
                        {% if selected_park: %}
                            <option value={{parkCode}}>{{selected_park}}</option>
                        {% endif %}
                        {% for parkCode, fullName in parks.items(): %}
                            <option value={{parkCode}}>{{fullName}}</option>
                        {% endfor %}
                    </select>
                </div>    
                <button type="submit" class="search-button btn btn-secondary btn-lg" style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 2%;">Search</button>
            </form>
        </div>
    
        <div class="overflow-auto" style="position:absolute; right:0px; width:47%;height:90vh;">
            {% if selected_park %}
                {% if alerts: %}
                    {% for title, url in alerts.items(): %}
                        {% if url: %}
                            <a href={{url}} target="_blank" title="Click to see more" class="btn btn-info shadow" style="position: relative; width: 90%; left: 5%; margin-top: 4%;">
                                {{title}}
                                <img style="height: 5%; width:5%;" />
                            </a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    No alerts exist for the selected park
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endblock %}
</body>
</html>